h1 {
    color: cadetblue;
}

nav>* {
    background-color: gainsboro;
    padding: 3px 10px 3px 10px;
    border-radius: 20px;
    margin: 3px;
}

.jumbotron .lead a {
    color: steelblue;
}

.blog-main>.blog-post:first-of-type {
    background-color: gainsboro;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 50px;
}

.blog-main>.blog-post:first-of-type>hr {
    border: solid 2px indianred;
}

nav>span:nth-child(even) {
    background-color: #e9ecef;
}

/*ELENCO ARCHIVIO SIDEBAR*/
.p-4>.mb-0>li {
    background-color: #e9ecef;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 5px;
}

.blog-main>.blog-post:nth-of-type(2)>.blog-post-meta>a {
    background-color: gainsboro;
    border-radius: 20px;
    padding: 0px 5px 0px 5px;
    color: indianred;
}

.blog-main>.blog-post:nth-of-type(3)>ul>li:nth-of-type(2) {
    color: indianred;
}

.float-right {
    background-color: gainsboro;
    border-radius: 20px;
    padding: 0px 10px 0px 10px;
}

.blog-pagination a:nth-child(2) {
    color: indianred;
    border-color: indianred;
}

.blog-footer>.text-center>a:nth-of-type(2) {
    background-color: gainsboro;
    border-radius: 20px;
    padding: 0px 10px 3px 10px;
}